name: Sync to Hugging Face
on:
  push:
    branches: [main] # or master, check your branch name
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://junaidkhan2007:$HF_TOKEN@huggingface.co/spaces/junaidkhan2007/MyClawdbot main
